<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Fotoğraf Güncelle</span>
</mat-toolbar>
<div class="container">
<div *ngIf="secArac">
  <h3><b>Araç Adı : </b>{{secArac.aracId}}</h3>
  <img [src]="apiServis.siteUrl+'/Folders/'+secArac.aracFoto" style="width:200px;">
</div>
<img [src]="secilenFoto" *ngIf="secilenFoto" style="width:200px;"/>
<p>&nbsp;</p>
<input type="file" hidden="true" onclick="this.value=null" #foto (change)="FotoSec($event)">
<button mat-raised-button color="primary" (click)="foto.click()">Fotoğraf Seç</button>&nbsp;
<button mat-raised-button color="primary" (click)="fotoDialogRef.close(aracFoto)">Kaydet</button>&nbsp;
<button mat-raised-button color="warn" (click)="fotoDialogRef.close()">Vazgeç</button>

</div>